.contentCenter {
    max-width: 1300px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    padding: 20px;
}

.usersWrapper {
    display: flex;
}